.container {
  width: 940px;
  padding: 15px;
  margin: 0 auto;
}

.col-third {
  width: 32%;
  margin-right: 1%;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.col-quarter {
  width: 24%;
  display: inline-block;
  position: relative;
}

.col-quarter-3 {
  width: 75%;
  margin-left: 1%;
  display: inline-block;
  vertical-align: top;
}

.character {
  border: 3px solid darken(@LightGray, 10%);
  margin-bottom: 1%;
  padding: 10px;
  cursor: pointer;

  &:hover {
    border-color: darken(@LightGray, 20%);
  }
}

.selected {
  border-color: darken(@LightGray, 30%);
}

.character-details {
  height: 390px;
  border: 3px solid darken(@LightGray, 10%);
  box-sizing: border-box;
}

.chosen-character {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
}

button {
  padding: 10px;
  position: absolute;
  width: 150px;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
