header {
  text-align: center;
  background-color: @LightGray;
  padding: 10px 0 0;

  img {
    max-width: 300px;
  }

  .filter {
    background-color: darken(@LightGray, 10%);
    padding: 10px;
  }
}